<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    {{#each jsAssets}}
      <script src="{{path}}"></script>
    {{/each}}
    {{#each cssAssets}}
      <link href="{{path}}" rel="stylesheet"  />
    {{/each}}
  </head>
  <body>
    <div class="doc-layout">
      <!-- CONTENT AREA -->
      <section class="doc-layout-content">
        <section class="doc-object">
          <h1 class="doc-object-name">{{title}}</h1>
          <div class="doc-object-description">
            {{description}}
          </div>
          <!-- @example Block -->
          {{#examples}}
          <div class="doc-codeExample">
            <h3 class="doc-codeExample-title">
              {{title}}
            </h3>
            <div class="doc-codeExample-description">
              {{description}}
            </div>
            <div class="doc-codeExample-render">
              {{{html}}}
            </div>
            <div class="doc-codeExample-code">
              <pre>
                <code>
                  {{code}}
                </code>
              </pre>
            </div>
          </div>
          {{/examples}}
          <!-- end @example Block -->
        </section>

        {{#if properties}}
        <table class="doc-table">
          <thead>
            <tr>
              <th>Option</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <!-- loop through each row in the @options block -->
            {{#properties}}
            <tr>
              <td>
                <code>{{title}}</code>
              </td>
              <td>{{type}}</td>
              <td>{{description}}</td>
            </tr>
            {{/properties}}
            <!-- end loop -->
          </tbody>
        </table>
        {{/if}}
      </section>
    </div>
  </body>
</html>
