<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    {{#each jsAssets}}
      <script src="{{path}}"></script>
    {{/each}}
    {{#each cssAssets}}
      <link href="{{path}}" rel="stylesheet"  />
    {{/each}}
  </head>
  <body>
    <header class="doc-header">
      <img src="//via.placeholder.com/60x60" class="doc-logo" />
      <div class="doc-logo">
        <span class="doc-logo-letter">d</span>
        <span class="doc-logo-letter">o</span>
        <span class="doc-logo-letter">c</span>
        <span class="doc-logo-letter">-</span>
        <span class="doc-logo-letter">e</span>
        <span class="doc-logo-letter">a</span>
        <span class="doc-logo-letter">s</span>
        <span class="doc-logo-letter">y</span>
      </div>
    </header>
    <div class="doc-layout">
      <!-- SIDEBAR -->
      <nav class="doc-layout-sidebar sidebar_open">
        <!-- MENU -->
        <ul class="doc-menu">
          <!-- CSS Section -->
          {{#each plugged.menu}}
          <li data-section="{{name}}">
            <ul class="doc-menu-list">
              <li class="doc-menu-title">{{name}}</li>
              <!-- Loop through each CSS group -->
              {{#each items}}
              <li class="doc-menu-section">
                {{#if name}}<span class="doc-menu-group">{{name}}</span>{{/if}}
                <ul class="doc-menu-list">
                  <!-- Loop through each @name found in current CSS group -->
                  {{#items}}
                  <li class="doc-menu-item">
                    <a class="doc-menu-link" href="{{path}}">{{name}}</a>
                  </li>
                  {{/items}}
                </ul>
              </li>
              {{/each}}
            </ul>
          </li>
          {{/each}}
        </ul>
      </nav>
      <iframe src="" id="page-content"></iframe>
    </div>
  </body>
</html>
